body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(-135deg, #0D0F1B, #1B2134);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    padding: 0;
}

.main-heading {
    font-weight: 700;
    margin-top: 10px;
    font-size: 64px;
    color: #00FFFF;
}

.sub-heading {
    font-family: 'Calibri', sans-serif;
    font-weight: 500;
    margin-top: -60px;
    opacity: 0.8;
    font-size: 25px;
    color: white;
}

form {
    margin-top: 28px;
    padding: 60px;
    background: #252939;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 60px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
    gap: 22px;
}

.form-group label {
    font-size: 23px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex: 1;
    text-align: left;
}

.form-group input,
.form-group select {
    flex: 2;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    opacity: 20%;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group input::placeholder {
    color: #000000;
}

.button {
    width: 350px;
    height: 60px;
    border-radius: 50px;
    background: linear-gradient(105deg, #00FFFF, #6B31B8);
    cursor: pointer;
    margin-top: 30px;
    transition: 0.3s;
    text-align: center;
    border: none;
}

.button:hover {
    transform: scale(1.05);
}

#sbt {
    color: white;
    font-size: 25px;
    font-weight: 750;
}

.icon-box {
    width: 40px;
    height: 40px;
    background-image: url('/static/images/ECG.png');
    background-size: cover;
    margin-left: 265px;
    margin-top: -33px;
}

.icon-heart {
    width: 100px;
    height: 100px;
    background-image: url('/static/images/Heartbeat.png');
    background-size: cover;
    margin-left: 810px;
    margin-top: -130px;
}

.icon-heart1 {
    width: 100px;
    height: 100px;
    background-image: url('/static/images/Heartbeat.png');
    background-size: cover;
    margin-right: 830px;
    margin-top: -99px;
}

.ellipse1 {
    position: absolute;
    width: 350px;
    height: 200px;
    background: linear-gradient(-52deg, #00ffff88, #540099);
    border-radius: 50% / 50%;
    top: 180px;
    right: -350px;
    --rotation: 10deg;
    z-index: -1;
    filter: blur(8px);
    animation: float 6s ease-in-out infinite;
}

.ellipse2 {
    position: absolute;
    width: 350px;
    height: 220px;
    background: linear-gradient(-160deg, #38EC4D, #868420);
    border-radius: 50% / 50%;
    top: -200px;
    right: -660px;
    --rotation: 40deg;
    z-index: -1;
    filter: blur(3px);
    animation: float 6s ease-in-out infinite;
}

.ellipse3 {
    position: absolute;
    width: 300px;
    height: 200px;
    background: linear-gradient(60deg, #C989CC, #ED0509);
    border-radius: 50% / 50%;
    top: -50px;
    right: 550px;
    --rotation: 80deg;
    z-index: -1;
    filter: blur(4px);
    animation: float 6s ease-in-out infinite;
}

.ellipse4 {
    position: absolute;
    width: 370px;
    height: 240px;
    background: linear-gradient(-160deg, #8338EC, #86205A);
    border-radius: 50% / 50%;
    top: 400px;
    right: 500px;
    --rotation: -45deg;
    z-index: -1;
    filter: blur(4px);
    animation: float 6s ease-in-out infinite;
}

.ellipse5 {
    position: absolute;
    width: 350px;
    height: 220px;
    background: linear-gradient(-160deg, #BC580C, #560505);
    border-radius: 50% / 50%;
    top: 450px;
    right: -700px;
    --rotation: 0deg;
    z-index: -1;
    filter: blur(4px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateX(-50%) rotate(var(--rotation));
    }
    50% {
        transform: translate(calc(-50% + 10px), -10px) rotate(var(--rotation));
    }
    100% {
        transform: translateX(-50%) rotate(var(--rotation));
    }
}

.footer {
    font-size: 20px;
    margin-top: 120px;
    color: white;
    background: linear-gradient(45deg, #ff0080, #8000ff);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 0, 128, 0.7);
    animation: footerGlow 2s ease-in-out infinite alternate;
    display: inline-block;
}

@keyframes footerGlow {
    from {
        box-shadow: 0 0 10px rgba(255, 0, 128, 0.7);
    }
    to {
        box-shadow: 0 0 20px rgba(128, 0, 255, 1);
    }
}
