<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiabetiX 🚀</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>

    <h1 class="main-heading">Welcome to DiabetiX</h1>
    <h2 class="sub-heading">Your Health, Our Prediction</h2>

    <div class="icon-heart"></div>
    <div class="icon-heart1"></div>

    <form action="/predict" method="POST">
        <div class="ellipse1"></div>
        <div class="ellipse2"></div>
        <div class="ellipse3"></div>
        <div class="ellipse4"></div>
        <div class="ellipse5"></div>
        <div class="form-group">
            <label for="P">Pregnancies :</label>
            <input type="number" id="P" name="Pregnancies" placeholder="No. of Pregnancies" required>
        </div>

        <div class="form-group">
            <label for="G">Glucose Level :</label>
            <input type="number" id="G" name="Glucose" placeholder="Enter Glucose Level" required>
        </div>

        <div class="form-group">
            <label for="B">BMI :</label>
            <input type="number" step="0.01" id="B" name="BMI" placeholder="Enter BMI" required>
        </div>

        <div class="form-group">
            <label for="A">Age :</label>
            <input type="number" id="A" name="Age" placeholder="Your Age" required>
        </div>

        <div class="form-group">
            <label for="F">Family History :</label>
            <select name="DiabetesPedigreeFunction" id="F" required>
                <option value="0.2">No Family History</option>
                <option value="0.5">One Parent</option>
                <option value="0.8">Both Parents</option>
                <option value="1.0">Whole Family Diabetic</option>
            </select>
        </div>

        <button id="sbt" class="button" type="submit">
            PREDICT NOW
            <div class="icon-box"></div>
        </button>
    </form>

    <div class="footer">Built with 💙 by Pranav Rao K</div>

</body>
</html>
