<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiabetiX 🚀</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1 class="main-heading">Welcome to DiabetiX 🔥🚀</h1>

<form action="/predict" method="POST" onsubmit="showSpinner()">
    <p><label class="P">Pregnancies :</label>
        <input type="number" name="Pregnancies" placeholder="No. of Pregnancies" required></p>

    <p><label class="G">Glucose Level :</label>
        <input type="number" name="Glucose" placeholder="Enter Glucose Level" required></p>

    <p><label class="B">BMI :</label>
        <input type="number" step="0.01" name="BMI" placeholder="Enter BMI" required></p>

    <p><label class="A">Age :</label>
        <input type="number" name="Age" placeholder="Your Age" required></p>

    <p><label class="F">Family History :</label>
        <select name="DiabetesPedigreeFunction" required>
            <option value="0.2">No Family History</option>
            <option value="0.5">One Parent</option>
            <option value="0.8">Both Parents</option>
            <option value="1.0">Whole Family Diabetic</option>
        </select>
    </p>

    <button class="button" type="submit">🚀 PREDICT NOW</button>
</form>

<div>
    {% if result %}
    <h2 class="{% if result == 'Diabetic 🚨' %}red-box{% elif result == 'Non-Diabetic ✅' %}green-box{% endif %}">
        {{ result }}
    </h2>
    {% endif %}
</div>

<p class="footer">With ❤️ from Pranav Rao</p>

<script src="/static/script.js"></script>


<div class="spinner" id="spinner"></div>
</body>
</html>


